
{{#unless settings.hideGenerator}}
    <footer class="footer">
        <div class="">
            <h3 class="">Become a part of the NativeScript community</h3>
            <a href="https://github.com/NativeScript/NativeScript" class="ns-btn ns-btn-git ns-icon ns-icon-git">NativeScript on GitHub</a>
            <a href="https://twitter.com/nativescript" class="ns-btn ns-btn-twt ns-icon ns-icon-twt">Follow us on Twitter</a>
        </div>

        <ul class="footer-nav">
            <li><a href="https://docs.nativescript.org">Get Started</a></li>
            <li><a href="//www.nativescript.org/samples">Guides</a></li>
            <li><a href="//www.nativescript.org/roadmap">API Reference</a></li>
        </ul>

        <p class="license">NativeScript is licensed under the <mark>Apache 2.0 license</mark>.</p>
        <i class="ns-icon ns-icon-ns"></i>
        <p class="copyright">© <script>document.write(new Date().getFullYear())</script> Progress Software Corporation. All Rights Reserved.</p>
    </footer>
{{/unless}}