<header id="page-header">
    <div class="container">
        <div class="row">
            <div class="ns-btn-mobile">
                <span class="ns-sandwich-icon">&nbsp;</span>
            </div>
            <div class="col-1 left-col">
                <a href="//www.nativescript.org/" class="ns-logo ns-icon ns-icon-ns"></a>
            </div>

            <div class="col-9 center-col" id="main-nav">
                <ul>
                    <li>
                        <a href="/start/introduction">
                            NativeScript Core
                        </a>
                    </li>
                    <li>
                        <a href="/angular/start/introduction">
                            NativeScript with Angular
                        </a>
                    </li>
                    <li>
                        <a href="/vuejs">
                            NativeScript with Vue.js
                        </a>
                    </li>
                    <li>
                        <a href="/api-reference/globals">
                            API Reference - Core Modules
                        </a>
                    </li>
                    <li>
                        <a href="/ns-ui-api-reference/globals" class="selected">
                            API Reference - NativeScript UI
                        </a>
                    </li>
                    <li>
                        <a href="/sidekick">
                            NativeScript Sidekick
                        </a>
                    </li>
                </ul>
                <h4>Article title</h4>
            </div>
            <div class="col-2 right-col">
                <a href="https://github.com/nativescript" target="_blank" class="ns-btn ns-btn-git ns-icon ns-icon-git">view in github</a>
            </div>
        </div>
    </div>
</header>

<!--TEMPORARY-->
<script>
    window.onload = function onload() {
        var mobileBtn = document.getElementsByClassName('ns-btn-mobile')[0];
        var menu = document.querySelector('#main-nav > ul');

        mobileBtn.addEventListener('click', function(e) {
            menu.classList.toggle('active');
        }, false);
    };
</script>
