.ns-btn {
    display: inline-flex;
     width: 230px;
    line-height: 56px;
    height: 60px;
    box-sizing: border-box;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Dual-600';
    line-height: 46px;
    border: 2px solid;
    border-radius: 45px;
    transition: .2s background ease-in-out, .2s border-color ease-in-out, .2s color ease-in-out;

    &:hover {
        text-decoration: none;
    }

    &.ns-icon:before {
        margin-right: 9px;
        font-size: 1.4em;
        line-height: 1.56;
    }
}

@media only screen and (max-width: 1720px) {
    .ns-btn {
        width: 214px;
        height: 50px;
        font-size: 17px;

        &.ns-icon:before {
            line-height: inherit;
        }
    }
}

@media only screen and (max-width: 1280px) {
    .ns-btn {
        width: 194px;
        height: 36px;
        &.ns-icon:before {
            line-height: inherit;
        }
    }
}

@media only screen and (max-width: 1010px) {
    .ns-btn.ns-icon:before {
        margin-right: 2px;
    }
}