footer {
    padding-top: 110px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #053140;
    color: #53727c;

    a {
        color: #fff;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    h3 {
        font: 600 50px/1 'Dual-600', 'Segoe UI', Arial, sans-serif;
        margin: 0 0 20px;
        letter-spacing: -0.05em;
        color: #d3d9e0;
    }

    .ns-btn {
        min-width: 300px;
        height: 60px;
        justify-content: center;
        font-size: 18px;
        border-color: rgba(105, 131, 140, .5);
        text-transform: none;

        &:hover {
           	border-color: #2a505c;
            background: #2a505c;
        }

        &:before {
            color: #53727c;
        }
    }

    .ns-btn {
        margin: 0 15px 10px;
    }

    .footer-nav {
        display: flex;
        margin: 90px 0;
        justify-content: center;

        li + li > a {
            border-left: 1px solid rgba(255, 255, 255, .2);
        }

        a {
            padding: 10px 35px;
            font-size: 20px;
            font: 300 24px/1 Roboto, 'Segoe UI', Arial, sans-serif;
        }
    }

    .license,
    .copyright {
        font-size: 14px;
    }

    mark {
        background: none;
        color: #d3d9e0;
    }

    .ns-icon-ns {
        font-style: normal;
        color: rgba(255,255,255,0.15);

        &:before {
            font-size: 78px;
        }
    }

    @media (max-width: 650px) {
        .footer-nav a {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}