#page-header {
    position: relative;
    z-index: 1000;
    background-color: #0c121c;

    .row {
        display: flex;
    }

    .col {
        align-self: center;
    }

    .right-col {
        text-align: right;
    }

    .ns-logo:before {
        font-size: 55px;
        margin-left: 10px;
        width: .8em;
        height: .8em;
        display: inline-block;
        line-height: .8;
        text-indent: -.1em;
        background-color: #fff;
        color: #3c5afd;
    }

    .ns-btn-mobile {
        display: none;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    .ns-sandwich-icon {
        display: block;
        position: relative;
        margin: 10px 0;
    }

    .ns-sandwich-icon,
    .ns-sandwich-icon:before,
    .ns-sandwich-icon:after {
        width: 24px;
        height: 4px;
        background: #fff;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .ns-sandwich-icon:before,
    .ns-sandwich-icon:after {
        content: '';
        display: block;
        position: absolute;
    }

    .ns-sandwich-icon:before {
        top: -8px;
    }

    .ns-sandwich-icon:after {
        top: 8px;
    }

    .ns-btn-mobile:hover .ns-sandwich-icon:before {
        top: -10px;
    }

    .ns-btn-mobile:hover .ns-sandwich-icon:after {
        top: 10px;
    }

    ul {
        display: flex;
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;

        > li {
            position: relative;
        }

        li > a {
            display: inline-block;
            padding: 28px 18px;
            font-family: "Roboto Light", "Segoe UI", "Arial", "sans-serif";
            font-size: 17px;
            line-height: 1.45;
            transition: 0.2s background ease-in-out;
            box-sizing: border-box;
            width: 100%;

            &.selected {
                background-color: #353638;
            }

            &:hover {
                background-color: #2f3b42;
            }
        }
    }

    h4 {
        display: none;
        max-width: 400px;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0 0 0 -40px;
        font-weight: 300;
        color: white;
    }

    .sub-menu-wrapper {
        > ul {
            position: absolute;
            left: 0;
            flex-flow: column;
            opacity: 0;
            visibility: hidden;
            transition-property: all;
            transition-duration: .1s;
            transition-delay: .2s;
        }

        &:hover > ul {
            display: flex;
            opacity: 1;
            visibility: visible;
            transition-delay: 0s;
        }

        > a:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 8px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            border-color: #ffffff transparent transparent transparent;
        }
    }

    a {
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }

    .ns-btn-git {
        border-color: #059d55;
        &:hover {
            background: #1fdc7f;
            border-color: #1fdc7f;
            color: #fff;
        }
    }

    @media (min-width: 1721px) {
        ul > li > a {
            padding: 35px 20px;
            font-size: 23px;
        }

        .ns-btn-git {
            font-size: 18px;
        }

        .ns-logo:before {
            font-size: 70px;
        }
    }

    @media (max-width: 1280px) {
        ul {
            margin-left: -10px;
        }

        ul > li > a {
            padding: 20px 9px;
            font-size: 15px;
            line-height: normal;
        }

        .ns-btn-git {
            font-size: 15px;
            line-height: 1.5;
        }

        .ns-logo:before {
            font-size: 40px;
        }
    }

    @media (max-width: 1010px) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;

        .ns-logo,
        #main-nav > ul {
            display: none;
        }

        #main-nav ul {
            position: fixed;
            top: 60px;
            right: 0;
            left: 0;

            ul {
                position: static;
                visibility: visible;
                opacity: 1;

                li {
                    padding-left: 20px;
                }
            }
        }

        .sub-menu-wrapper > a:after {
            display: none;
        }

        h4 {
            display: block;
        }

        .ns-btn-mobile {
            display: inline-flex;
            width: 60px;
            height: 60px;
        }
    }

    @media (max-width: 900px) {
        .col-4 {
            display: none;
        }
    }

    .active {
        display: block !important;
    }
}