@font-face {
    font-family: "ns-icons";
    src: url("../fonts/ns-icons-font.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ns-icons-font.woff") format("woff");
}

.ns-icon:before {
    font-family: "ns-icons";
    vertical-align: middle;
    text-transform: none;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

.ns-icon-ns:before {
    content: "\b7";
}

.ns-icon-git:before {
    content: "\b2";
}

.ns-icon-twt:before {
    content: "\bb";
}