.DS_Store

# copied from parent Jekyll site at build time
_assets
_includes
_plugins
_layouts
fonts
images
snippets
web.config

# ignore nativescript generated cookbook content
cookbook/**/*.md
code-samples/
# unignore angular "local" cookbook articles, having *-ng.md file names
!cookbook/**/*-ng.md
# ignore the cli generated content
cli